@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600&display=swap');
/* Variaveis Globais */
:root {
    --c-yellow: #FEC63E;
    --c-gray: #484b4d;
    --c-gray-light: #a9aeb3;
    --bg-light: #d9e0e6
}

/* Estilos Globais */
body {
    font-family: 'Oswald', sans-serif;
}
/* Estilos Header */
.header {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    background: var(--c-yellow);
    width: 100%;
    padding: 1rem 0;
}

.box-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    display: flex;
    justify-content: flex-end;
    gap: 1em;
}

.menu li a {
    color: black;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1em;
    padding: 0.8rem 0;
}

.menu li a:hover {
    color: white;
}